@import "node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@500&display=swap");

$cork: #947a4a;
$torchLight: #8b7346;
$wall: #727272;
$leather: rgba(88, 54, 54, 0.705);
$steel: #969696;

html,
body {
  background: linear-gradient($torchLight 6%, $wall 10%, black);
  width: 100%;
  height: 100%;

  h1 {
    font-family: "Cinzel", serif;
    text-shadow: 2px 2px maroon;
  }

  h3 {
    font-family: "Cinzel", serif;
  }
}

h6 {
  font-weight: bold;
}

.mainSection {
  background-color: $cork;
  font-family: "Cormorant", serif;

  tbody {
    font-family: "Kalam", cursive;
    color: white;
  }
}

.activeWindow {
  padding-left: 5px;
}

a {
  background-color: $steel;
  color: #fff;
  font-family: "Cormorant", serif;
}
a:hover {
  color: maroon;
}
