@import "node_modules/bootstrap/scss/bootstrap";

$mainFont: antiquewhite;

$cork: #d2b172;
$torchLight: #8b7346;
$wall: #727272;
$steel: #969696;
html,
body {
  background: linear-gradient($torchLight 5%, $wall 10%, black);
  color: $mainFont;
  width: 100%;
  height: 100%;
}

.nav-item {
  background-color: rgb(155, 95, 95);
  color: $mainFont;
}

a {
  color: #fff;
}
a:hover {
  color: #00f;
}

.thead-light {
  background-color: steel;
}

.mainCont {
  background-color: $cork;
}
